h3{
    color: rgb(46, 195, 26);
}
.main_table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    border: 1px solid rgba(28, 57, 134, 0.92);
}
.main_table th{
    color: rgba(28, 57, 134, 0.92);
}
.logoBrand{
    width: 45px;
    height: 45px;
    border-radius: 50px;
}
.container{
    width: 90%;
    margin: auto;
  
}